@media all and (max-width: 1130px) {
    .container__crypto{
        flex-direction: column;
    }
}


@media all and (max-width: 659px) {
    .container__crypto__end{

        margin:  60px 0;
        grid-template-columns: repeat(2, 1fr);}

        .container__crypto{
            padding: 0;
        }

        .container__crypto__inner{
            padding-right: 0;
        }
}

@media all and (max-width: 490px) {
    .crypto__buy-field{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }

    .crypto__buy-field input, .crypto__buy-field button, .crypto__buy-field select{
        min-width: 150px;
    }
}