@media all and (max-width: 930px) {
    .burger {
      display: flex;
      z-index: 6;
    }
  .header{
    padding-right: 0;
  }
    .navbar__ul {
      position: absolute;
      background: #1f1f1f;
      min-height: 50vh;
      width: 100%;
      z-index: 4;
      flex-direction: column;
      top: -100vh;
      transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  
    .navbar__ul.open {
      top: 0%;

    }


  }


  @media all and (max-width: 470px) {
    .navbar__ul{
        min-height: 100vh;
    }
  }