


.container{
    width: 80%;
    margin: 0 auto;
}

.header{
    background: #1f1f1f;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 50;
    align-items: center;
    justify-content: space-between;
}



.navbar{
    width: 100%;
    padding-right: 10vw;
    font-size: clamp(13px, 1.3vw, 20px);

    display: flex;
    align-items: center;
  
}

.navbar__ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    text-transform: uppercase;
    font-weight: bolder;


}

.navbar__ul li{
   
}

.navbar__ul li:hover{
    text-decoration: underline 3px solid #ffffff;
    

}

.burger{

    display: none;
    flex-direction: column;
    gap: 3px;
    padding-right: 15px;
 
}

.burger span{
    width: 30px;
    height: 4.5px;
    transition: .2s all linear;
    background: #fff;
    transform-origin: center; /* Set transform-origin to center */

}

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }


.main{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .9vw;
}

.main__section{

    background: rgb(0,5,255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 50%, rgba(38,0,255,0) 100%);
    padding: 100px 0 5vh;
}

.main__left {
    max-width: 500px;
}

.main__left span{
    font-size: clamp(40px, 6.2vw, 68px);
    width: 75%;
    display: block;
}


.exchange__span{
    color: rgb(0, 153, 255);
}

.main__right{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    max-width: 500px;

    justify-content: space-between;
}


.main__right-news{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}


.main__right-news-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
    background: #3f3f4f;

    padding: 10px;
    cursor: pointer;
    transition: opacity .3s ease ;
   
    border-right: .3vw solid rgb(0,5,255);
}


.main__right-news-item:hover{
    opacity: .9;
}
         
.main__right-news-item h3{
    font-size: clamp(20px, 2vw, 25px);
}

.main__right-news-item span{
    font-size: clamp(15px, 2vw, 20px);
    opacity: .8;
}


.main__right input, .main__right button{
    outline: none;
    border: 1px solid #000;
  
}


.main__right input {
    padding: 10px 15px;
 
    font-size: 20px;
    background: rgb(0,5,255);
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main__right input::placeholder{
    color: #ffffff8c;
}

.main__right button {
    padding: 1vh .4vw;
    font-size: 20px;
    background: rgb(0,5,255);
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.rate{
    padding: 7vh 0;
    background: #000;
    min-height: 100vh;
    width: 100%;
}

.rate .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rate h2{
    font-size: clamp(30px, 5vw, 40px);
    text-align: center;
}

.rate h3{
    margin-top: 10px;
}

.rates{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;


/*     
    display: flex;
    align-items: stretch;
    gap: 20px 30px;
    flex-wrap: wrap;
    justify-content: center; */

    margin: 3vh 0;

}

.rates__item{
    background: #1f1f1f;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    min-width: 250px;
    border-radius: 20px;
    opacity: .9;
    transition: .3s ease all;
    color: #fff;
    text-decoration: none;
}


.rates__item:hover{
    opacity: 1;
}

.rates__item:nth-child(1){
    filter: drop-shadow(#f7931a 2px 2px 7px);
    box-shadow: inset #f7931a 2px 2px 7px;
}
.rates__item:nth-child(2){
    filter: drop-shadow(#627eea 2px 2px 7px);
    box-shadow: inset #627eea 2px 2px 7px;
}
.rates__item:nth-child(3){
    filter: drop-shadow(#58bf00 2px 2px 7px);
    box-shadow: inset #58bf00 2px 2px 7px;
}
.rates__item:nth-child(4){
    filter: drop-shadow(#f3ba2f 2px 2px 7px);
    box-shadow: inset #f3ba2f 2px 2px 7px;
}
.rates__item:nth-child(5){
    filter: drop-shadow(#d65892 2px 2px 7px);
    box-shadow: inset #d65892 2px 2px 7px;
}
.rates__item:nth-child(6){
    filter: drop-shadow(#4742c5 2px 2px 7px);
    box-shadow: inset #4742c5 2px 2px 7px;
}

.rates__item img{
    height: clamp(30px, 6vw, 50px);
    
    width: clamp(30px, 6vw, 50px);

}


.subscribe{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


.subscribe button{
    padding: 10px 15px;
}

.footer{
    width: 100%;
    display: flex;
    gap: 100px;
    padding: 10px 30px;
    background: #1f1f1f;
    font-size: 18px;
}

.footer ul li{
 list-style-type: none;
line-height: 200%;



}

