@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #3f3f3f;
  font-family: "Chocolate Classical Sans", sans-serif;

  color: #fff;
}